#home {
	background: url(../images/coding.jpg) no-repeat 50% 50%;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	display: block;
	height: auto;
	padding-top: 350px; /* This is spacer before the Main title Logo */
	padding-bottom: 500px; /* This is spacer after the Main title Logo */
	color: #fff;
}

.head-main {
	font-family: Arial;
    font-size: 115px ;
    font-weight: 500;
    padding: 50px 20px 10px 20px;
	text-transform: uppercase;  
}

#navbar {
	font-family: Consolas;
}

.nav-item {
	font-family: Consolas;
	font-size: 15;
}